:root {
  --gray-100: #fff0f6;
  --gray-200: #ffe3ec;
  --gray-300: #f8d7ff;
  --gray-400: #d0b3f7;
  --gray-500: #b185db;
  --gray-600: #9d4edd;
  --gray-700: #7b2cbf;
  --gray-800: #5a189a;
  --gray-900: #3c096c;

  --primary-light: #ff8dc7;
  --primary: #d63384;
  --primary-dark: #9d4edd;

  --link-color: #c9187e;
  --link-hover: #7b2cbf;

  --success: #74c69d;
  --warning: #ffb703;
  --error: #e63976;
  --info: #b185db;

  --text-over-primary: #ffffff;
  --text-over-primary-dark: #ffffff;
  --text-over-primary-light: #3c096c;
  --text-over-success: #ffffff;
  --text-over-warning: #3c096c;
  --text-over-error: #ffffff;
  --text-over-info: #ffffff;

  --text-default: #ffffff;
  --text-muted: #ffffff;

  --disabled: #d0b3f7;
  --text-disabled: #9f86c0;
}

:root[data-theme='light'] {
  --gray-100: #3c096c;
  --gray-200: #5a189a;
  --gray-300: #7b2cbf;
  --gray-400: #9d4edd;
  --gray-500: #b185db;
  --gray-600: #d0b3f7;
  --gray-700: #f8d7ff;
  --gray-800: #ffe3ec;
  --gray-900: #fff0f6;

  --text-default: #4b4453;
  --text-muted: #7b6d8d;

  --link-color: #d63384;
  --link-hover: #9d4edd;
}